<h4>Employee Dashboard</h4>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employees">
                <td>
                    <img *ngIf="e.photoUrl" [src]="e.photoUrl" alt="photo" width="40" height="40"
                        class="rounded-circle" />
                </td>
                <td>{{ e.name }}</td>
                <td>{{ e.emailId }}</td>
                <td>{{ e.mobileNo }}</td>
                <td>{{ e.department?.name }}</td>
            </tr>
        </tbody>
    </table>
</div>
